name: Tests

on: 
  push:

jobs:
  
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install depedencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest-playwright

      - name: Ensure browsers are installed
        run: |
          python -m playwright install chromium --with-deps 

      - name: Run Tests
        run: |
            cd cubeit
            python -m http.server 8000 &
            cd ..
